<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses MapBox and DarkSky services.</p>
            <img class="portrait" src="/img/05012019-1636.png">
        </div>
        
        {{>footer}}
    </body>

</html>